<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reverseGenerated.mapper.DimRegionAreaMapper">
    <resultMap id="BaseResultMap" type="com.reverseGenerated.pojo.entity.DimRegionArea">
            <result column="id" jdbcType="INTEGER" property="id"/>
            <result column="parent_region_code" jdbcType="VARCHAR" property="parentRegionCode"/>
            <result column="parent_region_name" jdbcType="VARCHAR" property="parentRegionName"/>
            <result column="region_code" jdbcType="VARCHAR" property="regionCode"/>
            <result column="region_name" jdbcType="VARCHAR" property="regionName"/>
            <result column="region_area" jdbcType="DOUBLE" property="regionArea"/>
    </resultMap>

  <!-- 通用查询结果列-->
  <sql id="Base_Column_List">
        id, parent_region_code, parent_region_name, region_code, region_name, region_area
    </sql>
</mapper>